<div class="page-content">
    {% include 'partials/closebutton.html' %}
    <div class="image-container">
        <div class="image" style="background-image: url(hipster-selfies.jpg);"></div>
    </div>
    <div class="row">
        <div class="profile">
            <div class="title">
                Profile
            </div>

            <div class="profile-text">
                Roy de Jager Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse
                facere
                harum, hic id incidunt itaque minima, nam neque nesciunt nobis officiis
                perspiciatis
                quia quis quo saepe soluta velit vitae!
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. facere
                harum, hic id incidunt itaque minima.

            </div>
        </div>
        <div class="interests">
            <div class="title">
                Interests
            </div>
            <div class="interest-items">
                <ul>
                    <li>Coffee</li>
                    <li>Playing on my guitar</li>
                    <li>Card games</li>
                    <li>Swimming</li>
                    <li>Gaming</li>

                </ul>
            </div>
        </div>
        <div class="interests">
            <div class="title">
                Brands I got to work with
            </div>
            <div class="interest-items">
                <ul>
                    <li>hic id incidunt</li>
                    <li>itaque minima</li>
                    <li>xercitationem harum</li>
                    <li>quibusdam quidem</li>
                    <li>saepe soluta</li>


                </ul>
            </div>
        </div>
    </div>
</div>