<div class="page-content">
    {% include 'partials/closebutton.html' %}
    <div class="page-title">
        About
    </div>
    <div class="image-container">
        <div class="image" style="background-image: url(hipster-selfies.jpg);"></div>
    </div>
    <div class="row">
        <div class="profile">
            <div class="title">
                Profile
            </div>

            <div class="profile-text">
                Roy de Jager Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse
                facere
                harum, hic id incidunt itaque minima, nam neque nesciunt nobis officiis
                perspiciatis
                quia quis quo saepe soluta velit vitae!
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. facere
                harum, hic id incidunt itaque minima.

            </div>
        </div>
        <div class="interests">
            <div class="title">
                Interests
            </div>
            <div class="interest-items">
                <ul>
                    <li>Coffee</li>
                    <li>Playing the guitar</li>
                    <li>Watching series</li>
                    <li>Card games</li>
                    <li>Swimming</li>
                    <li>Gaming</li>

                </ul>
            </div>
        </div>
        <div class="interests">
            <div class="title">
                Short summary of my skills
            </div>
            <div class="interest-items">
                <ul>
                    <li>HTML/HTML5</li>
                    <li>CSS/SCSS</li>
                    <li>Javascript</li>
                    <li>Angular</li>
                    <li>JQuery</li>
                    <li>Drinking coffee</li>
                </ul>
            </div>
        </div>
    </div>
</div>
