<div class="page-content">
  {% include 'partials/closebutton.html' %}
    <div class="profile-text">
        Roy de Jager Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse
        facere
        harum, hic id incidunt itaque minima, nam neque nesciunt nobis officiis
        perspiciatis
        quia quis quo saepe soluta velit vitae!
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. facere
        harum, hic id incidunt itaque minima.

    </div>
    <div class="profile-text">
        Roy de Jager Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse
        facere
        harum, hic id incidunt itaque minima, nam neque nesciunt nobis officiis
        perspiciatis
        quia quis quo saepe soluta velit vitae!
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. facere
        harum, hic id incidunt itaque minima.

    </div>
    <div class="profile-text">
        Roy de Jager Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse
        facere
        harum, hic id incidunt itaque minima, nam neque nesciunt nobis officiis
        perspiciatis
        quia quis quo saepe soluta velit vitae!
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. facere
        harum, hic id incidunt itaque minima.

    </div>
    <div class="profile-text">
        Roy de Jager Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse
        facere
        harum, hic id incidunt itaque minima, nam neque nesciunt nobis officiis
        perspiciatis
        quia quis quo saepe soluta velit vitae!
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. facere
        harum, hic id incidunt itaque minima.

    </div>
</div>