$opacity-transition: opacity 0.2s ease-in 0.6s;
$mobile-opacity: opacity 0.2s ease-in 0.7s;
$list: 0;

@for $i from 1 through 4 {
  $percentage: percentage($i/4);
  $left: $percentage - 25;
  .block:nth-child(#{$i}) {
    left: $left;
  }
}

.row {
  @include row();
  .block {
    background-color: #bfbfbf;
    overflow: hidden;
    @media #{$small-only} {
      padding: 20px 20px 0 20px;
      max-height: 300px;
      left: 0;
      position: relative;
      @include transition(max-height 0.2s ease-out 0.4s);
      p {
        opacity: 1;
        padding-bottom: 50px;
        @include transition($mobile-opacity);
      }
      h1 {
        opacity: 1;
        margin-top: 15px;
        @include transition($mobile-opacity);
      }
      .bottom-text {
        position: absolute;
        bottom: 0;
        padding-left: 15px;
        opacity: 1;
        padding-bottom: 30px;
        visibility: visible;
        @include transition($mobile-opacity);

      }
      .expand svg {
        fill: rgba(255, 255, 255, 1);
        bottom: 0;
        opacity: 1;
        position: absolute;
        margin-bottom: 33px;
        @include transform(rotate(270deg));
        @include transition($mobile-opacity);
      }
    }
    @media #{$medium-up} {
      @include column(3);
      height: 100vh;
      padding: 45px 30px 100px 30px;
      position: absolute;
      display: inline-block;
      min-height: 500px;
      z-index: -1;
      @include transition(left 0.2s ease-out 0.3s, width 0.2s ease-out 0.3s, z-index 0.2s ease-out 0.3s);
      p {
        opacity: 1;
        color: rgba(255, 255, 255, 0.2);
        @include transition(color 0.2s ease-in, $opacity-transition);
      }
      h1 {
        color: rgba(255, 255, 255, 1);
        opacity: 1;
      }
      .bottom-text {
        padding: 0 0 30px 45px;
        width: 100%;
        left: 0;
        opacity: 1;
        color: rgba(255, 255, 255, 0.4);
        bottom: 0;
        position: absolute;
        visibility: visible;
        @include transition(color 0.2s ease-in, padding-top 0.2s ease-in, background-color 0.2s ease-out, $opacity-transition);

      }
      .expand svg {
        bottom: 0;
        position: absolute;
        margin-bottom: 33px;
        fill: rgba(255, 255, 255, 0.4);
        @include transform(rotate(270deg));
        @include transition(fill 0.2s ease-out, $opacity-transition);
      }
    }
  }
}

h1, .expand svg {
  @media #{$medium-up} {
    opacity: 1;
    @include transition($opacity-transition);
  }
}

.block.active {
  left: 0;
  z-index: 5000;
  width: 100%;
  cursor: auto;
  overflow: hidden;
  @media #{$small-only} {
    min-height: 100vh;
    max-height: 2500px;
    @include transition(max-height 0.4s ease-in);

    h1, p, .bottom-text, .expand svg {
      opacity: 0;
      position: absolute;
      @include transition(opacity 0s ease-in);
    }
  }
  @media #{$medium-up} {
    @include transition(left 0.3s ease-out, width 0.3s ease-out, z-index 0.1s ease-in);
    .bottom-text, p, h1, .expand svg {
      opacity: 0;
      @include transition(opacity 0s ease-in);
    }
  }

}




.block::before {
  @media #{$medium-up} {
    content: " ";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.0);
    @include transition(background 0.2s ease-in);
  }
}

.block.hover.active, .block.active.hover {
  p, .bottom-text, .expand svg {
    opacity: 0;
    @include transition(opacity 0s ease-in);
  }

}

.block.hover {
  cursor: pointer;
  @media #{$medium-up} {
    p, .expand svg {
      color: rgba(255, 255, 255, 1);
      fill: rgba(255, 255, 255, 1);
      @include transition(color 0.2s ease-in, fill 0.2s ease-in, $opacity-transition);
    }
    .bottom-text {
      padding-top: 30px;
      width: 100%;
      left: 0;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.2);
      color: rgba(255, 255, 255, 1);
      @include transition(color 0.2s ease-in, padding-top 0.2s ease-out, $opacity-transition);
    }

  }
}

.block.no-hover::before {
  @media #{$medium-up} {
    background: rgba(0, 0, 0, 0.4);
    @include transition(all 0.2s ease-in);
    z-index: 10000;
  }
}








