
.row {
  @include row();
  .block {
    position: relative;
    background-color: #228DB2;
    height: 50vh;
    padding: 50px 50px 50px 50px;
    @include transition(all 0.2s ease-in);
    @media #{$small-only} {
      &:first-child {
        padding-top: 80px;
      }
    }
    @media #{$medium-up} {
      @include column(4);
      min-height: 500px;
      height: 100vh;
      padding: 100px 50px 100px 50px;

    }
    p {
      opacity: 0.5;
      @media #{$small-only} {
        opacity: 1;
      }

    }
  }
}

.block-container.block-hover .block {

  float: left;
  @include transition(all 0.2s ease);
  @media #{$small-only} {
    padding-right: 30px;
    padding-left: 30px;

  }
  p {
    opacity: 1;
    @include transition(all 0.2s ease);
  }
}

.block-container.no-hover .block {

  p {
    opacity: 0.1;
    @media #{$small-only} {
      opacity: 1;
    }

  }


}

.block:before {
  content: " ";
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  //z-index: 300;
  background: rgba(0, 0, 0, 0.0);
  @include transition(all 0.1s ease-in);
}

.block-container.no-hover .block:before {
  content: " ";
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  //z-index: 300;
  background: rgba(0, 0, 0, 0.6);
  @include transition(all 0.1s ease-in);
  @media #{$small-only} {
    background: rgba(0, 0, 0, 0.0);
  }
}



.block.block-1, .block.block-2, .block.block-3{
  ::after {
    content: " ";
    top: 0;
    width: 40px;
    height: 100%;
    position: absolute;
    right: 90%;
    z-index: -1;
    //visibility: hidden;
    @include transition(all 0.2s ease-in);
  }

  ::before {
    content: " ";
    top: 0;
    width: 40px;
    height: 100%;
    position: absolute;
    left: 90%;
    z-index: -1;
    //visibility: hidden;
    @include transition(all 0.2s ease-in);
  }
}

.block.block-1 {
  background-color: #3E64CF;
  ::before {
    background-color: #3E64CF;
  }
}
.block-container.block-hover .block.block-1 {
  ::before {
    background-color: #3E64CF;
    left: 100%;
    z-index: 300;
    visibility: visible;
    @include transition(all 0.2s ease-in);
  }
}

.block.block-2 {
  background-color: #3CC06C;
  ::after {
    background-color: #3CC06C;
  }
  ::before {
    background-color: #3CC06C;
  }
}
.block-container.block-hover .block.block-2 {
  ::after {
    background-color: #3CC06C;
    right: 100%;
    z-index: 300;
    visibility: visible;
    @include transition(all 0.2s ease-in);
  }
  ::before {

    background-color: #3CC06C;
    left: 100%;
    z-index: 300;
    visibility: visible;
    @include transition(all 0.2s ease-in);
  }
}


.block.block-3 {
  background-color: #E36331;
  ::after {
    background-color: #E36331;
  }
  ::before {
    background-color: #E36331;
  }
}
.block-container.block-hover .block.block-3 {
  ::after {
    background-color: #E36331;
    right: 100%;
    z-index: 300;
    visibility: visible;
    @include transition(all 0.2s ease-in);
  }
}

