.block-container {
  position: relative;
  //display: inline-block;
  max-width: 1920px;
  //overflow: visible;

}

.block-container.active .block {
  //content: " ";
  //
  height:100vh;
  width: 100%;
  @include transition(all 0.1s ease-in);

  @media #{$medium-up} {
    //position: absolute;
  }
}

.block-container.hidden .block {
  @media #{$medium-up} {
    //display: none;


    display: inline-block;
    position: relative;


  }
}