$default-font: 'HelveticaNeue-Light', 'Helvetica', 'Arial';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $default-font;
  color: $color-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
em {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.6;
}

p {
  font-size: 15px;
  @media #{$medium-up} {
    font-size: 15px;

  }
}

h1 {
  line-height: 45px;
  font-size: 45px;
  color:white;

}


p {
  color: white;
}
