
.row {
  @include row();
  .block {
    position: relative;
    background-color: #228DB2;
    height: 50vh;
    padding: 50px 30px 50px 30px;

    @media #{$small-only} {
      &:first-child {
        padding-top: 80px;
      }
    }
    @media #{$medium-up} {
      @include column(4);
      height: 100vh;
      padding: 100px 30px 100px 30px;

    }
  }
}

.block-container.block-hover .block {
  padding-right: 70px;
  padding-left: 70px;
  @include transition(all 0.2s ease-in);
}

.block-container.no-hover .block-opacity{
  position: relative;
  background-color: black;
  @include transition(all 0.2s ease-in);
}

.block.block-1 {
  background-color: #3E64CF;
}

.block.block-2 {
  background-color: #3CC06C;
}

.block.block-3 {
  background-color: #E36331;
}