.page-container {
  left: 0;
  width: 100vw;
  cursor: auto;

  @media #{$small-only} {
    margin-top: -30px;
    margin-left: -10px;
    padding: 10px 20px 10px 0px;
    height: 0;
    visibility: hidden;
    display: none;
  }
  @media #{$medium-up} {
    top: 300vh;
    min-height: 600px;
    height: 100vh;
    padding: 20px 20px 20px 20px;
    position: absolute;

    width: 100vw;
    @include transition(all 0.3s ease-in);
  }
}

.block.active .page-container {
  visibility: visible;
  display: inline-block;
  @include transition(all 0.5s ease-in);
  @media #{$small-only} {
    height: 100%;

  }
  @media #{$medium-up} {
    top:0;
    padding-top: 20px;
    width: 100vw;

  }
}

.white-page {
  background-color: #F2F2F2;
  @media#{$small-only} {
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
    height: 100%;
    width: 100%;
  }
  @media #{$medium-up} {
    padding: 30px 30px 30px 30px;
    height: 100%;
    width: 100%;
    visibility: visible;
    margin-right:100px;
  }
}

.block.active .white-page {
  background-color: #F2F2F2;
  //@include transition(all 0.6s ease-in);
  @media#{$small-only} {
    margin-top: 10px;
  }
  @media #{$medium-up} {

  }

}

.close-button svg {
  cursor: pointer;
  fill: #D9D9D9;
  width: 60px;
  height: 60px;
  visibility: hidden;
  opacity: 0;

  @media #{$small-only} {
    //position: absolute;
    float:right;
    right: 0;
    z-index: 2;

    stroke-width: 10;
  }
  @media #{$medium-up} {
    //position: absolute;
    top: 0;
    //margin-top: 40px;
    //margin-right: 55px;
    right: 0;
    float: right;
    z-index: 1000;
    &:hover {
      @include transform(rotate(180deg));
      fill: #707070;
      stroke: #707070;
      stroke-width: 10;

    }
  }
}

.block.active .close-button svg {
  opacity: 1;
  visibility: visible;
  @include transition(all 0.2s ease-out);
  @media #{$small-only} {
    fill: #707070;
    stroke-width:0;
    stroke: #707070;
  }

}

.page-title {
  left: 0;
  top: 0;
  font-family: "HelveticaNeue-Light", "Helvetica", "Arial";
  font-weight: bold;
  font-size: 45px;
  padding-bottom: 10px;

}
//.block.active h1 {
//  //position: absolute;
//  z-index: 100000;
//  color: black;
//  cursor: auto;
//  @media #{$small-only} {
//    padding-left: 0px;
//  }
//  @media #{$medium-up} {
//
//    padding-left: 20px;
//    @include transition(all 0.2s ease);
//  }
//}