<nav class="nav-container">
    <ul class="nav-ul">
        <li class="left"><a class="link" href="#">WORKS</a></li>
        <li class="left"><a class="link"href="#">ABOUT</a></li>
    </ul>

    <div class="logo"><a  href="index.html">RJ</a></div>

    <ul class="nav-ul">
        <li class="right"><a class="link" href="#">SKILLS</a></li>
        <li class="right"><a class="link" href="#">CONTACT</a></li>
    </ul>


    <div class="burger-container">
        <div class="burger">
            ☰
        </div>
        <div class="burger-content-container">
            <ul class="burger-content">
                <li id="about" class="burgeritem"><a href="#">ABOUT</a></li>
                <li id="works" class="burgeritem"><a href="#">WORKS</a></li>
                <li id="skills" class="burgeritem"><a href="#">SKILLS</a></li>
                <li id="contact" class="burgeritem"><a href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>