<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        var host = "www.roydejager.com";
        if ((host == window.location.host) && (window.location.protocol != "https:"))
            window.location.protocol = "https";
    </script>
    <meta name="description"
          content="A frontend developer with a lot of passion to make awesome websites and a deep love for coffee.">
    <meta name="keywords" content="roy de jager, roy, de jager, frontend developer, frontend, webdeveloper, developer">
    <meta name="author" content="Roy de Jager">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Lato" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
<script src="bundle.js"></script>
</html>