<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="A frontend developer with a lot of passion to make awesome websites">
    <meta name="keywords" content="roy de jager, frontend developer, frontend, webdeveloper">
    <meta name="author" content="Roy de Jager">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
<script src="bundle.js"></script>
</html>