<div class="navcontainer">
    <ul>
        <li class="left"><a href="">CONTACT</a></li>
        <li class="left"><a href="about.html">ABOUT</a></li>
    </ul>

    <div class="logo"><a href="index.html">RJ</a></div>

    <ul>
        <li class="right"><a href="">WORKS</a></li>
        <li class="right"><a href="">NOGIETS</a></li>
    </ul>
    <div class="burgercontainer">
        <div class="burger">
            <svg class="burger" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 19.98 14.23">
                <defs>
                    <clipPath id="a" transform="translate(-230 -369.77)">
                        <rect x="230" y="369.77" width="20" height="20" fill="none"/>
                    </clipPath>
                </defs>
                <title>burger</title>
                <g>
                    <line y1="1" x2="19.98" y2="1" fill="none" stroke="#808285" stroke-width="2"/>
                    <line y1="7.23" x2="19.98" y2="7.23" fill="none" stroke="#808285" stroke-width="2"/>
                    <line y1="13.23" x2="19.98" y2="13.23" fill="none" stroke="#808285" stroke-width="2"/>
                </g>
            </svg>
        </div>
        <div class="burgercontentcontainer">
            <ul class="burgercontent">
                <li class="burgeritem"><a href="">ABOUT</a></li>
                <li class="burgeritem"><a href="">CONTACT</a></li>
                <li class="burgeritem"><a href="">WORKS</a></li>
                <li class="burgeritem"><a href="">NOGIETS</a></li>
            </ul>
        </div>
    </div>
</div>