<div class="nav-container">
    <ul>
        <li class="left"><a href="">CONTACT</a></li>
        <li class="left"><a href="about.html">ABOUT</a></li>
    </ul>

    <div class="logo"><a href="index.html">RJ</a></div>

    <ul>
        <li class="right"><a href="">WORKS</a></li>
        <li class="right"><a href="">NOGIETS</a></li>
    </ul>
    <div class="burger-container">
        <div class="burger">
            ☰
        </div>
        <ul class="burger-content">
            <li class="burgeritem"><a href="about.html">ABOUT</a></li>
            <li class="burgeritem"><a href="">CONTACT</a></li>
            <li class="burgeritem"><a href="">WORKS</a></li>
            <li class="burgeritem"><a href="">NOGIETS</a></li>
        </ul>

    </div>
</div>