//.profile {
//  padding-top: 60px;
//  font-size: 20px;
//  padding-bottom:10px;
//
//
//  display: inline-block;
//}
//

//.profile {
//  @media #{$small-only} {
//    //padding-bottom: 16px;
//  }
//}


.title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom:5px;
  border-bottom: 1px solid black;
  max-width: 120px;
  margin-bottom:5px;
}
.profile-text {
  font-size:16px;
  line-height: 26px;

}
//
.interests {


}
//
.interest-items {
  line-height: 26px;
  font-size: 16px;


}
//
.image-container {
  height: 675px;
  width:100%;
  padding-bottom:380px;
  margin-bottom:-360px;
  z-index:1;
  position: relative;
  @media #{$small-only} {
    position: relative;
    z-index:1;
  }
}
.image {

  background-size: cover;
  background-position: center;
  height:100%;
  width:100%;
}

.interest-items ul {
  list-style: none;
  margin:0;
  padding:0;
}
.interest-items li {
  list-style: none;
}

.row {
  @include row();
  .profile {

    @media #{$medium-up} {
      @include column(6);
      z-index: 500;
    }

  }

  .interests {
    @media #{$small-only} {
      //@include  column(6);
      padding-top:15px;
    }
    @media #{$medium-up} {
      @include column(3);
      padding-left:40px;

    }
  }
}