.button-container {
  width:100%;
  //position: relative;
  display: block;
}


.github svg {
  zoom: 10%;
  fill: black;
  //cursor: pointer;
  margin-top: 130px;
  &:hover {
    //fill: $color-block-1;
  }

}

.linkedin svg {
  fill: black;
  cursor: pointer;

  zoom: 25%;
  //margin-left: 600px;

  &:hover {
    //fill: $color-block-2;

  }

}

.email svg {
  fill: black;
  cursor: pointer;

  zoom: 25%;
  //margin-left: 1200px;

  &:hover {
    //fill: $color-block-3;
  }

}

.facebook svg {
  fill:black;
  margin-top: 20px;
  //margin-left: 460px;

  &:hover {
    //fill: $color-block-4;
  }
}

//.row {
//  @include row();
//
//  .button a {
//    @media #{$small-only} {
//      @include column(12);
//    }
//    @media #{$medium-up} {
//      @include column(3);
//
//    }
//  }
//}