.navcontainer {
  max-width: 1280px;
  width: 100%;
  background-color: #F2F2F2;
  position: fixed;
  height: 50px;

  ul {
    position: relative;
    width: 50%;
    list-style-type: none;
    margin: 0;
    float: left;
    overflow: hidden;
    padding: 0;
    @media #{$small-only} {
      display: none;
    }
  }

  li {

    list-style-type: none;
    padding: 15px 12px 12px 15px;

  }

  li a {

    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    letter-spacing: 2px;

  }
}

.left {
  float: right;

  &:first-child {
    padding-right: 40px;
  }
}

.right {
  float: left;

  &:first-child {
    padding-left: 40px;
  }
}

.navcontainer:before {
  height: 50px;
  width: 1000%;
  left: -500%;
  position: absolute;
  background-color: #F2F2F2;
  content: ' ';
  z-index: -1;
}

.logo {
  text-decoration: none;
  padding-top: 10px;
  width: 100%;
  position: absolute;

  font-family: "Snell Roundhand";
  color: black;
  font-weight: bold;
  font-size: 25px;
  @media #{$medium-up} {
    text-align: center;
  }
  @media#{$small-only} {
    float: left;
    padding-left:30px;
  }
}

.burger {
  @media #{$small-only}  {
    float:right;
    display:block;
    padding: 3px 30px 0 0;
    font-size:30px;
  }
  @media #{$medium-up} {
    display: none;
  }
}