.nav-container {
  max-width: 1280px;
  width: 100%;
  background-color: #F2F2F2;
  position: fixed;
  height: 50px;
  @media #{$small-only} {
    position: fixed;
  }
  ul {
    position: relative;
    width: 50%;
    list-style-type: none;
    margin: 0;
    float: left;
    overflow: hidden;
    padding: 0;
    @media #{$small-only} {
      display: none;
    }
  }

  li {

    list-style-type: none;
    padding: 15px 12px 12px 15px;

  }

  li a {

    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    letter-spacing: 2px;

  }
}

.left {
  float: right;

  &:first-child {
    padding-right: 40px;
  }
}

.right {
  float: left;

  &:first-child {
    padding-left: 40px;
  }
}

.nav-container:before {
  height: 50px;
  width: 1000%;
  left: -500%;
  position: absolute;
  background-color: #F2F2F2;
  content: ' ';
  z-index: -1;
}

.logo {

  padding-top: 10px;
  width: 100%;
  position: absolute;
  font-family: "Snell Roundhand";
  color: black;
  font-weight: bold;
  font-size: 25px;

  a {
    text-decoration: none;
    color: black;
  }
  @media #{$medium-up} {
    text-align: center;
    z-index: -1;
  }
  @media#{$small-only} {
    float: left;
    padding-left: 30px;
    z-index: -1;
  }
}

.burger-container.active .burger {
  float: right;

}

.burger-container.active .burger-content {
  position: relative;
  left: 80px;
  float: left;
  margin-top: 6px;
  max-height: 100vh;
  height: 100vh;
  display: block;
  width: 100vw;
  margin-right: 50px;
  padding-left:15px;

  li {

  }
}

//.burgercontainer html, body {
//  overflow: auto;
//  height: auto;
//}
//
//.burgercontainer.active html, body {
//  overflow: hidden;
//  height: 100%;
//}

.burger-container {

  @media #{$small-only}  {

    float: right;
    display: block;
    padding: 3px 30px 13px 30px;
    font-size: 30px;
    cursor: pointer;
    z-index: 500;
  }
  @media #{$medium-up} {
    display: none;
  }
}



.burger-content {
  max-height: 0;
  overflow: hidden;
  background: white;

}