{% extends "layout.html" %}

{# add the title of the page between the block title#}
{% block title %} Home {% endblock %}

{#Add the content of the page in the block content#}
{% block content %}
    <div class="row">
        <div class="block-container">
            <div class="block">
                <h1>About</h1>
                <p>
                    Hey there! My name is Roy de Jager. If you want I can tell more about me? Click on me to
                    hear
                    more.
                </p>
                <div class="bottom-text">
                    CLICK TO EXPAND
                </div>
                <div class="page-container">
                    <div class="white-page">
                        <div class="page-content">
                            {#<h1>About</h1>#}
                            {% include 'partials/close-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="content">
                    <h1>Works </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                    </p>
                    <div class="bottom-text">
                        CLICK TO EXPAND
                    </div>
                    <div class="page-container">
                        <div class="white-page">
                            <div class="page-content">


                                {% include 'partials/close-button.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <h1>
                    Skills
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </p>
                <div class="bottom-text">
                    CLICK TO EXPAND
                </div>
                <div class="page-container">
                    <div class="white-page">
                        <div class="page-content">


                            {% include 'partials/close-button.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <h1>
                    Contact
                </h1>
                <p>
                    Did you like what you see? If you want I can show you how to contact me. Just click and
                    you'll see
                    how.
                </p>
                <div class="bottom-text">
                    CLICK TO EXPAND
                </div>
                <div class="page-container">
                    <div class="white-page">
                        <div class="page-content">

                            {% include 'partials/close-button.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
