{% extends "layout.html" %}

{# add the title of the page between the block title#}
{% block title %} Home {% endblock %}

{#Add the content of the page in the block content#}
{% block content %}
    <div class="row">
        <div class="block-container">
            <div class="block block-1">
                <h1>About</h1>
                <p>
                    Hey there! My name is Roy de Jager. If you want I can tell more about me? Click on me to
                    hear
                    more.
                </p>
                <div class="bottom-text">
                    CLICK TO EXPAND
                </div>
            </div>
        </div>

        <div class="block-container">
            <div class="block block-2">
                <h1>Works </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </p>
                <div class="bottom-text">
                    CLICK TO EXPAND
                </div>
            </div>

        </div>

        <div class="block-container">
            <div class="block block-3">
                <h1>
                    Skills
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </p>
                <div class="bottom-text">
                    CLICK TO EXPAND
                </div>
            </div>
        </div>

        <div class="block-container">
            <div class="block block-4">
                <h1>
                    Contact
                </h1>
                <p>
                    Did you like what you see? If you want I can show you how to contact me. Just click and you'll see
                    how.
                </p>
                <div class="bottom-text">
                    CLICK TO EXPAND
                </div>

            </div>
        </div>

    </div>

    <div class="page-container">
        <div class="white-page">
                <span class="close-button">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="0px" height="0px" viewBox="0 0 512 512"
                         xml:space="preserve">
                    <style type="text/css">

                    </style>
                        <g>
                            <g>
                                <path class="st0" d="M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0
			                    S484.3,190.1,403.1,108.9z M390.8,390.8c-74.3,74.3-195.3,74.3-269.6,0c-74.3-74.3-74.3-195.3,0-269.6s195.3-74.3,269.6,0
			                    C465.2,195.5,465.2,316.5,390.8,390.8z"/>
                            </g>
                            <polygon class="st0" points="340.2,160 255.8,244.2 171.8,160.4 160,172.2 244,256 160,339.8 171.8,351.6 255.8,267.8 340.2,352
		                        352,340.2 267.6,256 352,171.8 	"/>
                        </g>
                    </svg>
                </span>

        </div>
    </div>


{% endblock %}
